<div class="main-search">
  <div class="intoduction-text">
    <p align="center">
      <h2> <%= t(:search_heading)%> </h2>
      <h4><%= t(:search_sub_heading)%>  </h4>
    </p>
  </div>
  <hr />
  <div class="form-group main-search-field">
    <%= form_tag root_path, method: :get do %>
    <%= search_field_tag "search" ,params[:search], autofocus: params[:search] ? false : true , class: 'form-control kan-ime search', placeholder: "#{t(:huduku)}" %>
    <% end %>
  </div>
  <hr />
</div>

<div class="meaning-section">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-5">
      <% if @meanings %>
        <%= render "pada_meaning" %>
      <% elsif @random_pada %>
        <div class="main-meaning-section">
          <h4> <i> '<%= @random_pada.word %>' </i>  ಪದದ ಅರ್ಥ</h4>
          <p> <span class="word-meaning"> <%= @random_pada.meaning %> </span> </p>
          <p> <span class="word-description"> <%= @random_pada.pos %> </span> </p>
          <div class="dictionary-underline" style="border-bottom: 3px solid <%= dictionary_color(@random_pada.dictionary_id) %>"></div>
        </div>
      <% end %>
    </div>
    <div class="col-md-4">
        <% if @similar_meanings && @similar_meanings.count > 0 %>
        <%= render "similar_meaning" %>
        <% end %>
      </div>
  </div>
</div>
