<!DOCTYPE html>
<html>
  <head>
    <title><%= t(:pada_kanaja) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="<%= root_path %>" class="navbar-brand">
            <img src="https://vachana.sanchaya.net/app-icon-light.png" alt="<%= t(:pada_kanaja) %>" class="header-logo-img">
            <%= t(:pada_kanaja) %>
          </a>
          <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
              <li> <%= link_to t(:about_us), about_path %> </li>
              <li> <%= link_to t(:help), '#' %> </li>
              <li> <%= link_to t(:contact), '#' %> </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- /header -->
      <div class="container pada-kanaja-content" style="min-height: 500px;">
       <center><form><script src="https://cdn.razorpay.com/static/widget/payment-button.js" data-payment_button_id="pl_FTB1pZqrFP6jrt"> </script> </form>
        </center> 
	<div class="row">
          <%= bootstrap_flash %>
          <%= yield %>
        </div><!--/row-->
      </div> <!-- /container -->
      <!--Footer-->
      <div class="navbar navbar-fixed-bottom">
        <footer class="footer">
          <div class="container">
              <div class="copy-right">
                This portal is a collection of various Kannada dictionaries, created to provide comprehensive access to Kannada lexical resources as a not-for-profit initiative.

The Kannada community is invited to contribute to this project and help make it a comprehensive digital dictionary for all. Wherever available, licensing information for the dictionaries will be displayed.

We are actively seeking permission to include additional dictionaries in this portal. The community is hereby requested to help us connect with the respective owners and rights holders of dictionaries that could be added to this collection.
                <p style="font-size: 11px; margin-top: 0.5em; margin-bottom: 0;">Since 2010 - Sanchaya &amp; Sanchi Foundation</p>
              </div>
          </div>
        </footer>
    </div>
  </body>
</html>
